<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          xmlns:uses-permissionandroid="http://schemas.android.com/apk/res-auto"
          package="com.cxd.cxd4android">

    <uses-sdk tools:overrideLibrary="com.prolificinteractive.materialcalendarview"/>

    <permission
        android:name="com.cxd.cxd4android.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.cxd.cxd4android.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 开机启动添加 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 以下为sharesdk所需权限 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 新增相机quanxian -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".global.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".global.BaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        >
        <activity
            android:name=".activity.GuidePageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.BuyProductActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".activity.BuyProducRiskActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.BuyProducDetailsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.BuyProducRecodActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.SetGestureLockActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CheckoutGestureLockActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.SeNewNoticeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".activity.subactivity.SeHelpCenterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.subactivity.SeFeedBackActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.subactivity.MeMyInvesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.MeMyBillActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.MeMyAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.MeMyRecomActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.MeRechargeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.MeWithdrawActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.MeLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PdfShowActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- 信息披露项目风控 -->
        <activity
            android:name=".widget.rollout.activity.RolloutBaseActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".widget.rollout.activity.RolloutPreviewActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.subactivity.BoutBannerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.subactivity.MeMyBonusPointsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.MyBsIntegralDetailsActivity"
            android:screenOrientation="portrait"/>

        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"/>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.cxd.cxd4android"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1104879101"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".activity.subactivity.MyBsDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.MyBsIntegralLuckDrawActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.MyBsDrawPrizeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.ReturnMoneyCalendarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.MyBsShipAddrActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.YeePayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".global.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <service
            android:name="com.micros.ui.webview.FirstLoadingX5Service"
            android:label="@string/app_name"
            android:process=":process.x5webview.init"/>

        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="com.cxd.cxd4android"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <!-- Required  显示通知栏 -->
                <category android:name="com.cxd.cxd4android"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/>
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.cxd.cxd4android"/>
            </intent-filter>
        </receiver>

        <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
        <!--
        <action android:name="android.intent.action.MEDIA_MOUNTED" />
        <action android:name="android.intent.action.USER_PRESENT" />
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
        -->


        <!-- 以下为百度统计 -->
        <!-- 可选的权限 -->
        <!-- 使用GPS获取用户精确定位信息 -->
        <uses-library android:name="android.test.runner"/>

        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="7ae772aa80"/>
        <!--  -->
        <!-- 7ae772aa80 -->
        <!-- abcd1234 -->
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market"/>

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true"/>
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START"/>
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false"/>
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true"/>
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true"/>
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true"/>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <!-- 正式环境 -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="027bb7198d50f68185ebbe57"/>
        <!-- <meta-data android:name="JPUSH_APPKEY" android:value="7b7e100cc2b1306e657c7c7c" />        &lt;!&ndash; 测试环境&ndash;&gt; -->


        <!-- 多渠道打包配置信息 -->
        <meta-data
            android:name="CXD_CHANNEL_NAME"
            android:value="${CXD_CHANNEL_NAME_VALUE}"/>
        <meta-data
            android:name="CXD_CHANNEL_ID"
            android:value="${CXD_CHANNEL_ID_VALUE}"/>
        <!-- 腾讯x5内核配置 -->
        <meta-data
            android:name="QBSDKAppKey"
            android:value="5ytBbPEag2MUmjt+H0FfLrVQ"/>

        <activity
            android:name=".activity.subactivity.GhbH5Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.HXAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.subactivity.MeMyGhbIdentityActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".shbbank.ossupload.OSSActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".yeepay.YeePayAccountActivity"/>
        <activity
            android:name=".shbbank.openaccount.SHBOpenAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".shbbank.openaccount.SHBBankListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".shbbank.accountmanagement.shbrevise.SHBReviseBankActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".shbbank.accountmanagement.AccountManagementActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zhihu.matisse.sample.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"/>
        </provider>

        <activity
            android:name=".shbbank.accountmanagement.SHBCustodyAccoountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".shbbank.password.SHBPassWordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".shbbank.html.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".shbbank.accountmanagement.SHBRiskAssessmentActivity">
        </activity>
    </application>

</manifest>